.copyContainer {
  @apply flex flex-col absolute text-white border border-white rounded p-2 opacity-40 transition-all duration-300;
  left: 10px;
  bottom: 100px;

  &:hover {
     opacity: 1;
    }

  hr {
    @apply my-1;
  }
  .copyHeading {
    @apply text-base;
  }

  .copyDescription {
    @apply flex justify-center gap-2 items-center text-sm;
  }
}
